.entry-title.area1 {
  color: #60AAA8;
}
.entry-title.area2 {
  color: #F1804B;
}
.entry-title.area3 {
  color: #B68E2F;
}
.entry-title.area4 {
  color: #663BB4;
}
.entry-title.area5 {
  color: #69C67B;
}
.entry-title.area6 {
  color: #CD421E;
}