.vscode

.secrets
gamingdiary

logs/*
!logs/.keep

*.kra~
*.png~
*.jpg~

data/sunshine/chapters/youtube/*
data/sunshine/shorts/download/*

data/ttyd/chapters/youtube/*
data/ttyd/battles/youtube/*
data/ttyd/shorts/meta/*

data/luigi_mansion/videos/meta/*

data/shake_it/videos/youtube/*

data/heartgold/download/*

public/heartgold/entries/*
!public/heartgold/entries/t00.png
