body {
  font-family: Roboto, sans;
  letter-spacing: .5px;
}

.dates {
  font-family: 'FOT-PopJoy Std';
  margin-top: -30px;
  margin-bottom: 30px;
}

.series-title {
  font-family: 'FOT-PopJoy Std';
  font-size: 30pt;
}

ul {
  list-style-type: none;
}

.list-toggle {
  cursor: pointer;
  user-select: none;
}

.content {
  display: none;
}

.active {
  display: block;
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
}