/* Remove default bullets */
ul, #myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

.list-toggle {
  cursor: pointer;
  user-select: none;
}

.content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* display: none; */
}

.active {
  display: block;
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}