.entry-title.chapter1 {
  color: #9D9D9D;
}
.entry-title.chapter2 {
  color: #3D8B40;
}
.entry-title.chapter3 {
  color: #B0990B;
}
.entry-title.chapter4 {
  color: #C0627C;
}
.entry-title.chapter5 {
  color: #6D8EC0;
}
.entry-title.chapter6 {
  color: #FD7E1C;
}
.entry-title.chapter7 {
  color: #B084FD;
}
.entry-title.chapter8 {
  color: rgb(181, 39, 91);
}
