.entry-title.chapter1 {
  color: silver;
}
.entry-title.chapter2 {
  color: rgb(30, 166, 30);
}
.entry-title.chapter3 {
  color: rgb(220, 194, 48);
}
.entry-title.chapter4 {
  color: #be0034;
}
.entry-title.chapter5 {
  color: rgb(33, 93, 190);
}
.entry-title.chapter6 {
  color: rgb(207, 123, 38);
}
.entry-title.chapter7 {
  color: rgb(181, 39, 181);
}
.entry-title.chapter8 {
  color: rgb(181, 39, 91);
}
