.entry-title.badge1 {
  color: #729CBB;
}
.entry-title.badge2 {
  color: #DB111F;
}
.entry-title.badge3 {
  color: #E7F03B;
}
.entry-title.badge4 {
  color: #5F68CF;
}
.entry-title.badge5 {
  color: #179594;
}
.entry-title.badge6 {
  color: #A1602A;
}
.entry-title.badge7 {
  color: #738A98;
}
.entry-title.badge8 {
  color: #741D19;
}
