.entry-title.area1 {
  color: #923F57;
}
.entry-title.area2 {
  color: #16442B;
}
.entry-title.area3 {
  color: #323B75;
}
.entry-title.area4 {
  color: #6C580F;
}
.entry-title.area5 {
    color: #B10D1C;
}