<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="base.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="page-container">
    <h1 class="series-title">The Gaming Diary</h1>
    <hr class="divider" />
    <ul>
        {{range .Series}}
        <li class="{{.Theme}}">
            <h1 class="entry-title list-toggle series-color">{{.Title}}</h1>
            <div class="entry collapsable">
                <div class="grid-container">
                    <img src="{{.Thumbnail}}" width="100%"/>
                    <div class="entry-body">
                    <p><a class="video-link" href="{{.Link}}">Watch Series</a></p>
                    <p><b>{{.VideoCount}} Videos</b> [{{.TotalDuration}}]</p>
                    <hr />
                    <p>{{.Dates}}</p>
                    <p>{{.Description}}</p>
                    </div>
                </div>
            </div>
        </li>
        {{end}}
    </ul>
  </div>
  <script src="script.js"></script>
</body>
</html>
