<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{.ResourcePath}}/style.css">
    {{range .Stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{.}}">
    {{end}}
</head>
<body class="{{.Theme}}" style="background-image: url('{{.Background}}');">
  <div class="page-container">
    <h1 class="series-title series-color">{{.Title}}</h1>
    <h3 class="dates">{{.Dates}}</h3>
    <hr class="divider" />
    <ul>
      {{range .Entries}}
      <li>
        <h2 class="list-toggle entry-title{{range .Classes}} {{.}}{{end}}">{{.Title}}</h2>
        <div class="collapsable entry">
          <div class="grid-container">
            <img src="{{.Thumbnail}}" width="100%"/>
            <div class="entry-body">
              <p><a class="video-link" href="{{.Video}}" target="_blank">Play Video</a></p>
              <p>[{{.Duration}}]</p>
              <hr />
              <p>{{.Description}}</p>
            </div>
          </div>
        </div>
      </li>
      {{end}}
    </ul>
  </div>
  <script src="{{.ResourcePath}}/script.js"></script>
</body>
</html>
